# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# IDE / Editor
.vscode/
.idea/

# Large Datasets & Images
3 Datasets/
data/
*.jpg
*.jpeg
*.png
*.bmp

# Model Checkpoints & Weights
*.pth
*.pt
*.ckpt
checkpoints/*
!checkpoints/.gitkeep

# Automatic Training Reports & Outputs
runs/
logs/
reports/*
!reports/.gitkeep

# Video files
*.mp4
*.avi

# Generated Crops
reports/tracking/crops/

# Environment variables & secrets
.env
